.font_tv_expand {
          --font-common-tv-title1-black-font-family: Roboto;
  --font-common-tv-title1-black-font-weight: Black;
  --font-common-tv-title1-black-line-height: 92;
  --font-common-tv-title1-black-font-size: 76;
  --font-common-tv-title1-black-letter-spacing: -0.5;
  --font-common-tv-title1-black-paragraph-spacing: 0;
  --font-common-tv-title1-black-text-case: none;
  --font-common-tv-title1-black-text-decoration: none;
  --font-common-tv-title1-bold-font-family: Roboto;
  --font-common-tv-title1-bold-font-weight: Bold;
  --font-common-tv-title1-bold-line-height: 92;
  --font-common-tv-title1-bold-font-size: 76;
  --font-common-tv-title1-bold-letter-spacing: -0.5;
  --font-common-tv-title1-bold-paragraph-spacing: 0;
  --font-common-tv-title1-bold-text-case: none;
  --font-common-tv-title1-bold-text-decoration: none;
  --font-common-tv-title2-bold-font-family: Roboto;
  --font-common-tv-title2-bold-font-weight: Bold;
  --font-common-tv-title2-bold-line-height: 72;
  --font-common-tv-title2-bold-font-size: 60;
  --font-common-tv-title2-bold-letter-spacing: -0.25;
  --font-common-tv-title2-bold-paragraph-spacing: 0;
  --font-common-tv-title2-bold-text-case: none;
  --font-common-tv-title2-bold-text-decoration: none;
  --font-common-tv-title2-medium-font-family: Roboto;
  --font-common-tv-title2-medium-font-weight: Medium;
  --font-common-tv-title2-medium-line-height: 72;
  --font-common-tv-title2-medium-font-size: 60;
  --font-common-tv-title2-medium-letter-spacing: -0.25;
  --font-common-tv-title2-medium-paragraph-spacing: 0;
  --font-common-tv-title2-medium-text-case: none;
  --font-common-tv-title2-medium-text-decoration: none;
  --font-common-tv-title3-bold-font-family: Roboto;
  --font-common-tv-title3-bold-font-weight: Bold;
  --font-common-tv-title3-bold-line-height: 60;
  --font-common-tv-title3-bold-font-size: 48;
  --font-common-tv-title3-bold-letter-spacing: -0.25;
  --font-common-tv-title3-bold-paragraph-spacing: 0;
  --font-common-tv-title3-bold-text-case: none;
  --font-common-tv-title3-bold-text-decoration: none;
  --font-common-tv-title3-medium-font-family: Roboto;
  --font-common-tv-title3-medium-font-weight: Medium;
  --font-common-tv-title3-medium-line-height: 60;
  --font-common-tv-title3-medium-font-size: 48;
  --font-common-tv-title3-medium-letter-spacing: -0.25;
  --font-common-tv-title3-medium-paragraph-spacing: 0;
  --font-common-tv-title3-medium-text-case: none;
  --font-common-tv-title3-medium-text-decoration: none;
  --font-common-tv-subtitle-bold-font-family: Roboto;
  --font-common-tv-subtitle-bold-font-weight: Bold;
  --font-common-tv-subtitle-bold-line-height: 48;
  --font-common-tv-subtitle-bold-font-size: 40;
  --font-common-tv-subtitle-bold-letter-spacing: 0;
  --font-common-tv-subtitle-bold-paragraph-spacing: 0;
  --font-common-tv-subtitle-bold-text-case: none;
  --font-common-tv-subtitle-bold-text-decoration: none;
  --font-common-tv-subtitle-medium-font-family: Roboto;
  --font-common-tv-subtitle-medium-font-weight: Medium;
  --font-common-tv-subtitle-medium-line-height: 48;
  --font-common-tv-subtitle-medium-font-size: 40;
  --font-common-tv-subtitle-medium-letter-spacing: 0;
  --font-common-tv-subtitle-medium-paragraph-spacing: 0;
  --font-common-tv-subtitle-medium-text-case: none;
  --font-common-tv-subtitle-medium-text-decoration: none;
  --font-common-tv-subtitle-regular-font-family: Roboto;
  --font-common-tv-subtitle-regular-font-weight: Regular;
  --font-common-tv-subtitle-regular-line-height: 48;
  --font-common-tv-subtitle-regular-font-size: 40;
  --font-common-tv-subtitle-regular-letter-spacing: 0;
  --font-common-tv-subtitle-regular-paragraph-spacing: 0;
  --font-common-tv-subtitle-regular-text-case: none;
  --font-common-tv-subtitle-regular-text-decoration: none;
  --font-common-tv-body1-bold-font-family: Roboto;
  --font-common-tv-body1-bold-font-weight: Bold;
  --font-common-tv-body1-bold-line-height: 44;
  --font-common-tv-body1-bold-font-size: 32;
  --font-common-tv-body1-bold-letter-spacing: 0.15;
  --font-common-tv-body1-bold-paragraph-spacing: 0;
  --font-common-tv-body1-bold-text-case: none;
  --font-common-tv-body1-bold-text-decoration: none;
  --font-common-tv-body1-medium-font-family: Roboto;
  --font-common-tv-body1-medium-font-weight: Medium;
  --font-common-tv-body1-medium-line-height: 44;
  --font-common-tv-body1-medium-font-size: 32;
  --font-common-tv-body1-medium-letter-spacing: 0.15;
  --font-common-tv-body1-medium-paragraph-spacing: 0;
  --font-common-tv-body1-medium-text-case: none;
  --font-common-tv-body1-medium-text-decoration: none;
  --font-common-tv-body1-regular-font-family: Roboto;
  --font-common-tv-body1-regular-font-weight: Regular;
  --font-common-tv-body1-regular-line-height: 44;
  --font-common-tv-body1-regular-font-size: 32;
  --font-common-tv-body1-regular-letter-spacing: 0.15;
  --font-common-tv-body1-regular-paragraph-spacing: 0;
  --font-common-tv-body1-regular-text-case: none;
  --font-common-tv-body1-regular-text-decoration: none;
  --font-common-tv-caption1-medium-font-family: Roboto;
  --font-common-tv-caption1-medium-font-weight: Medium;
  --font-common-tv-caption1-medium-line-height: 40;
  --font-common-tv-caption1-medium-font-size: 28;
  --font-common-tv-caption1-medium-letter-spacing: 0.15;
  --font-common-tv-caption1-medium-paragraph-spacing: 0;
  --font-common-tv-caption1-medium-text-case: none;
  --font-common-tv-caption1-medium-text-decoration: none;
  --font-common-tv-caption1-regular-font-family: Roboto;
  --font-common-tv-caption1-regular-font-weight: Regular;
  --font-common-tv-caption1-regular-line-height: 40;
  --font-common-tv-caption1-regular-font-size: 28;
  --font-common-tv-caption1-regular-letter-spacing: 0.15;
  --font-common-tv-caption1-regular-paragraph-spacing: 0;
  --font-common-tv-caption1-regular-text-case: none;
  --font-common-tv-caption1-regular-text-decoration: none;
  --font-common-tv-caption2-medium-font-family: Roboto;
  --font-common-tv-caption2-medium-font-weight: Medium;
  --font-common-tv-caption2-medium-line-height: 32;
  --font-common-tv-caption2-medium-font-size: 24;
  --font-common-tv-caption2-medium-letter-spacing: 0.15;
  --font-common-tv-caption2-medium-paragraph-spacing: 0;
  --font-common-tv-caption2-medium-text-case: none;
  --font-common-tv-caption2-medium-text-decoration: none;
  --font-common-tv-caption2-regular-font-family: Roboto;
  --font-common-tv-caption2-regular-font-weight: Regular;
  --font-common-tv-caption2-regular-line-height: 32;
  --font-common-tv-caption2-regular-font-size: 24;
  --font-common-tv-caption2-regular-letter-spacing: 0.15;
  --font-common-tv-caption2-regular-paragraph-spacing: 0;
  --font-common-tv-caption2-regular-text-case: none;
  --font-common-tv-caption2-regular-text-decoration: none;
  --font-common-tv-overline-bold-font-family: Roboto;
  --font-common-tv-overline-bold-font-weight: Bold;
  --font-common-tv-overline-bold-line-height: 28;
  --font-common-tv-overline-bold-font-size: 22;
  --font-common-tv-overline-bold-letter-spacing: 0.5;
  --font-common-tv-overline-bold-paragraph-spacing: 0;
  --font-common-tv-overline-bold-text-case: uppercase;
  --font-common-tv-overline-bold-text-decoration: none;
  --font-common-tv-overline-medium-font-family: Roboto;
  --font-common-tv-overline-medium-font-weight: Medium;
  --font-common-tv-overline-medium-line-height: 28;
  --font-common-tv-overline-medium-font-size: 22;
  --font-common-tv-overline-medium-letter-spacing: 0.5;
  --font-common-tv-overline-medium-paragraph-spacing: 0;
  --font-common-tv-overline-medium-text-case: uppercase;
  --font-common-tv-overline-medium-text-decoration: none;
      }