.font_expand {
          --font-common-desktop-title1-black-font-family: Roboto;
  --font-common-desktop-title1-black-font-weight: Black;
  --font-common-desktop-title1-black-line-height: 68;
  --font-common-desktop-title1-black-font-size: 56;
  --font-common-desktop-title1-black-letter-spacing: -0.25;
  --font-common-desktop-title1-black-paragraph-spacing: 0;
  --font-common-desktop-title1-black-text-case: none;
  --font-common-desktop-title1-black-text-decoration: none;
  --font-common-desktop-title1-bold-font-family: Roboto;
  --font-common-desktop-title1-bold-font-weight: Bold;
  --font-common-desktop-title1-bold-line-height: 68;
  --font-common-desktop-title1-bold-font-size: 56;
  --font-common-desktop-title1-bold-letter-spacing: -0.25;
  --font-common-desktop-title1-bold-paragraph-spacing: 0;
  --font-common-desktop-title1-bold-text-case: none;
  --font-common-desktop-title1-bold-text-decoration: none;
  --font-common-desktop-title2-bold-font-family: Roboto;
  --font-common-desktop-title2-bold-font-weight: Bold;
  --font-common-desktop-title2-bold-line-height: 52;
  --font-common-desktop-title2-bold-font-size: 42;
  --font-common-desktop-title2-bold-letter-spacing: 0;
  --font-common-desktop-title2-bold-paragraph-spacing: 0;
  --font-common-desktop-title2-bold-text-case: none;
  --font-common-desktop-title2-bold-text-decoration: none;
  --font-common-desktop-title2-medium-font-family: Roboto;
  --font-common-desktop-title2-medium-font-weight: Medium;
  --font-common-desktop-title2-medium-line-height: 52;
  --font-common-desktop-title2-medium-font-size: 42;
  --font-common-desktop-title2-medium-letter-spacing: 0;
  --font-common-desktop-title2-medium-paragraph-spacing: 0;
  --font-common-desktop-title2-medium-text-case: none;
  --font-common-desktop-title2-medium-text-decoration: none;
  --font-common-desktop-title3-bold-font-family: Roboto;
  --font-common-desktop-title3-bold-font-weight: Bold;
  --font-common-desktop-title3-bold-line-height: 40;
  --font-common-desktop-title3-bold-font-size: 32;
  --font-common-desktop-title3-bold-letter-spacing: 0.15;
  --font-common-desktop-title3-bold-paragraph-spacing: 0;
  --font-common-desktop-title3-bold-text-case: none;
  --font-common-desktop-title3-bold-text-decoration: none;
  --font-common-desktop-title3-medium-font-family: Roboto;
  --font-common-desktop-title3-medium-font-weight: Medium;
  --font-common-desktop-title3-medium-line-height: 40;
  --font-common-desktop-title3-medium-font-size: 32;
  --font-common-desktop-title3-medium-letter-spacing: 0.15;
  --font-common-desktop-title3-medium-paragraph-spacing: 0;
  --font-common-desktop-title3-medium-text-case: none;
  --font-common-desktop-title3-medium-text-decoration: none;
  --font-common-desktop-title4-bold-font-family: Roboto;
  --font-common-desktop-title4-bold-font-weight: Bold;
  --font-common-desktop-title4-bold-line-height: 36;
  --font-common-desktop-title4-bold-font-size: 28;
  --font-common-desktop-title4-bold-letter-spacing: 0.15;
  --font-common-desktop-title4-bold-paragraph-spacing: 0;
  --font-common-desktop-title4-bold-text-case: none;
  --font-common-desktop-title4-bold-text-decoration: none;
  --font-common-desktop-title4-medium-font-family: Roboto;
  --font-common-desktop-title4-medium-font-weight: Medium;
  --font-common-desktop-title4-medium-line-height: 36;
  --font-common-desktop-title4-medium-font-size: 28;
  --font-common-desktop-title4-medium-letter-spacing: 0.15;
  --font-common-desktop-title4-medium-paragraph-spacing: 0;
  --font-common-desktop-title4-medium-text-case: none;
  --font-common-desktop-title4-medium-text-decoration: none;
  --font-common-desktop-title5-bold-font-family: Roboto;
  --font-common-desktop-title5-bold-font-weight: Bold;
  --font-common-desktop-title5-bold-line-height: 32;
  --font-common-desktop-title5-bold-font-size: 24;
  --font-common-desktop-title5-bold-letter-spacing: 0.15;
  --font-common-desktop-title5-bold-paragraph-spacing: 0;
  --font-common-desktop-title5-bold-text-case: none;
  --font-common-desktop-title5-bold-text-decoration: none;
  --font-common-desktop-title5-medium-font-family: Roboto;
  --font-common-desktop-title5-medium-font-weight: Medium;
  --font-common-desktop-title5-medium-line-height: 32;
  --font-common-desktop-title5-medium-font-size: 24;
  --font-common-desktop-title5-medium-letter-spacing: 0.15;
  --font-common-desktop-title5-medium-paragraph-spacing: 0;
  --font-common-desktop-title5-medium-text-case: none;
  --font-common-desktop-title5-medium-text-decoration: none;
  --font-common-desktop-title6-bold-font-family: Roboto;
  --font-common-desktop-title6-bold-font-weight: Bold;
  --font-common-desktop-title6-bold-line-height: 24;
  --font-common-desktop-title6-bold-font-size: 20;
  --font-common-desktop-title6-bold-letter-spacing: 0.1;
  --font-common-desktop-title6-bold-paragraph-spacing: 0;
  --font-common-desktop-title6-bold-text-case: none;
  --font-common-desktop-title6-bold-text-decoration: none;
  --font-common-desktop-title6-medium-font-family: Roboto;
  --font-common-desktop-title6-medium-font-weight: Medium;
  --font-common-desktop-title6-medium-line-height: 24;
  --font-common-desktop-title6-medium-font-size: 20;
  --font-common-desktop-title6-medium-letter-spacing: 0.1;
  --font-common-desktop-title6-medium-paragraph-spacing: 0;
  --font-common-desktop-title6-medium-text-case: none;
  --font-common-desktop-title6-medium-text-decoration: none;
  --font-common-desktop-subtitle-bold-font-family: Roboto;
  --font-common-desktop-subtitle-bold-font-weight: Bold;
  --font-common-desktop-subtitle-bold-line-height: 24;
  --font-common-desktop-subtitle-bold-font-size: 18;
  --font-common-desktop-subtitle-bold-letter-spacing: 0.15;
  --font-common-desktop-subtitle-bold-paragraph-spacing: 0;
  --font-common-desktop-subtitle-bold-text-case: none;
  --font-common-desktop-subtitle-bold-text-decoration: none;
  --font-common-desktop-subtitle-medium-font-family: Roboto;
  --font-common-desktop-subtitle-medium-font-weight: Medium;
  --font-common-desktop-subtitle-medium-line-height: 24;
  --font-common-desktop-subtitle-medium-font-size: 18;
  --font-common-desktop-subtitle-medium-letter-spacing: 0.15;
  --font-common-desktop-subtitle-medium-paragraph-spacing: 0;
  --font-common-desktop-subtitle-medium-text-case: none;
  --font-common-desktop-subtitle-medium-text-decoration: none;
  --font-common-desktop-subtitle-regular-font-family: Roboto;
  --font-common-desktop-subtitle-regular-font-weight: Regular;
  --font-common-desktop-subtitle-regular-line-height: 24;
  --font-common-desktop-subtitle-regular-font-size: 18;
  --font-common-desktop-subtitle-regular-letter-spacing: 0.15;
  --font-common-desktop-subtitle-regular-paragraph-spacing: 0;
  --font-common-desktop-subtitle-regular-text-case: none;
  --font-common-desktop-subtitle-regular-text-decoration: none;
  --font-common-desktop-body1-bold-font-family: Roboto;
  --font-common-desktop-body1-bold-font-weight: Bold;
  --font-common-desktop-body1-bold-line-height: 24;
  --font-common-desktop-body1-bold-font-size: 16;
  --font-common-desktop-body1-bold-letter-spacing: 0.25;
  --font-common-desktop-body1-bold-paragraph-spacing: 0;
  --font-common-desktop-body1-bold-text-case: none;
  --font-common-desktop-body1-bold-text-decoration: none;
  --font-common-desktop-body1-medium-font-family: Roboto;
  --font-common-desktop-body1-medium-font-weight: Medium;
  --font-common-desktop-body1-medium-line-height: 24;
  --font-common-desktop-body1-medium-font-size: 16;
  --font-common-desktop-body1-medium-letter-spacing: 0.25;
  --font-common-desktop-body1-medium-paragraph-spacing: 0;
  --font-common-desktop-body1-medium-text-case: none;
  --font-common-desktop-body1-medium-text-decoration: none;
  --font-common-desktop-body1-regular-font-family: Roboto;
  --font-common-desktop-body1-regular-font-weight: Regular;
  --font-common-desktop-body1-regular-line-height: 24;
  --font-common-desktop-body1-regular-font-size: 16;
  --font-common-desktop-body1-regular-letter-spacing: 0.25;
  --font-common-desktop-body1-regular-paragraph-spacing: 0;
  --font-common-desktop-body1-regular-text-case: none;
  --font-common-desktop-body1-regular-text-decoration: none;
  --font-common-desktop-body2-bold-font-family: Roboto;
  --font-common-desktop-body2-bold-font-weight: Bold;
  --font-common-desktop-body2-bold-line-height: 20;
  --font-common-desktop-body2-bold-font-size: 14;
  --font-common-desktop-body2-bold-letter-spacing: 0.25;
  --font-common-desktop-body2-bold-paragraph-spacing: 0;
  --font-common-desktop-body2-bold-text-case: none;
  --font-common-desktop-body2-bold-text-decoration: none;
  --font-common-desktop-body2-medium-font-family: Roboto;
  --font-common-desktop-body2-medium-font-weight: Medium;
  --font-common-desktop-body2-medium-line-height: 20;
  --font-common-desktop-body2-medium-font-size: 14;
  --font-common-desktop-body2-medium-letter-spacing: 0.25;
  --font-common-desktop-body2-medium-paragraph-spacing: 0;
  --font-common-desktop-body2-medium-text-case: none;
  --font-common-desktop-body2-medium-text-decoration: none;
  --font-common-desktop-body2-regular-font-family: Roboto;
  --font-common-desktop-body2-regular-font-weight: Regular;
  --font-common-desktop-body2-regular-line-height: 20;
  --font-common-desktop-body2-regular-font-size: 14;
  --font-common-desktop-body2-regular-letter-spacing: 0.25;
  --font-common-desktop-body2-regular-paragraph-spacing: 0;
  --font-common-desktop-body2-regular-text-case: none;
  --font-common-desktop-body2-regular-text-decoration: none;
  --font-common-desktop-caption1-medium-font-family: Roboto;
  --font-common-desktop-caption1-medium-font-weight: Medium;
  --font-common-desktop-caption1-medium-line-height: 16;
  --font-common-desktop-caption1-medium-font-size: 12;
  --font-common-desktop-caption1-medium-letter-spacing: 0.25;
  --font-common-desktop-caption1-medium-paragraph-spacing: 0;
  --font-common-desktop-caption1-medium-text-case: none;
  --font-common-desktop-caption1-medium-text-decoration: none;
  --font-common-desktop-caption1-regular-font-family: Roboto;
  --font-common-desktop-caption1-regular-font-weight: Regular;
  --font-common-desktop-caption1-regular-line-height: 16;
  --font-common-desktop-caption1-regular-font-size: 12;
  --font-common-desktop-caption1-regular-letter-spacing: 0.25;
  --font-common-desktop-caption1-regular-paragraph-spacing: 0;
  --font-common-desktop-caption1-regular-text-case: none;
  --font-common-desktop-caption1-regular-text-decoration: none;
  --font-common-desktop-caption2-medium-font-family: Roboto;
  --font-common-desktop-caption2-medium-font-weight: Medium;
  --font-common-desktop-caption2-medium-line-height: 12;
  --font-common-desktop-caption2-medium-font-size: 11;
  --font-common-desktop-caption2-medium-letter-spacing: 0.25;
  --font-common-desktop-caption2-medium-paragraph-spacing: 0;
  --font-common-desktop-caption2-medium-text-case: none;
  --font-common-desktop-caption2-medium-text-decoration: none;
  --font-common-desktop-caption2-regular-font-family: Roboto;
  --font-common-desktop-caption2-regular-font-weight: Regular;
  --font-common-desktop-caption2-regular-line-height: 12;
  --font-common-desktop-caption2-regular-font-size: 11;
  --font-common-desktop-caption2-regular-letter-spacing: 0.25;
  --font-common-desktop-caption2-regular-paragraph-spacing: 0;
  --font-common-desktop-caption2-regular-text-case: none;
  --font-common-desktop-caption2-regular-text-decoration: none;
  --font-common-desktop-overline-bold-font-family: Roboto;
  --font-common-desktop-overline-bold-font-weight: Bold;
  --font-common-desktop-overline-bold-line-height: 16;
  --font-common-desktop-overline-bold-font-size: 12;
  --font-common-desktop-overline-bold-letter-spacing: 0.5;
  --font-common-desktop-overline-bold-paragraph-spacing: 0;
  --font-common-desktop-overline-bold-text-case: uppercase;
  --font-common-desktop-overline-bold-text-decoration: none;
  --font-common-desktop-overline-medium-font-family: Roboto;
  --font-common-desktop-overline-medium-font-weight: Medium;
  --font-common-desktop-overline-medium-line-height: 16;
  --font-common-desktop-overline-medium-font-size: 12;
  --font-common-desktop-overline-medium-letter-spacing: 0.5;
  --font-common-desktop-overline-medium-paragraph-spacing: 0;
  --font-common-desktop-overline-medium-text-case: uppercase;
  --font-common-desktop-overline-medium-text-decoration: none;
  --font-common-tablet-title1-black-font-family: Roboto;
  --font-common-tablet-title1-black-font-weight: Black;
  --font-common-tablet-title1-black-line-height: 52;
  --font-common-tablet-title1-black-font-size: 44;
  --font-common-tablet-title1-black-letter-spacing: 0;
  --font-common-tablet-title1-black-paragraph-spacing: 0;
  --font-common-tablet-title1-black-text-case: none;
  --font-common-tablet-title1-black-text-decoration: none;
  --font-common-tablet-title1-bold-font-family: Roboto;
  --font-common-tablet-title1-bold-font-weight: Bold;
  --font-common-tablet-title1-bold-line-height: 52;
  --font-common-tablet-title1-bold-font-size: 44;
  --font-common-tablet-title1-bold-letter-spacing: 0;
  --font-common-tablet-title1-bold-paragraph-spacing: 0;
  --font-common-tablet-title1-bold-text-case: none;
  --font-common-tablet-title1-bold-text-decoration: none;
  --font-common-tablet-title2-bold-font-family: Roboto;
  --font-common-tablet-title2-bold-font-weight: Bold;
  --font-common-tablet-title2-bold-line-height: 44;
  --font-common-tablet-title2-bold-font-size: 36;
  --font-common-tablet-title2-bold-letter-spacing: 0.25;
  --font-common-tablet-title2-bold-paragraph-spacing: 0;
  --font-common-tablet-title2-bold-text-case: none;
  --font-common-tablet-title2-bold-text-decoration: none;
  --font-common-tablet-title2-medium-font-family: Roboto;
  --font-common-tablet-title2-medium-font-weight: Medium;
  --font-common-tablet-title2-medium-line-height: 44;
  --font-common-tablet-title2-medium-font-size: 36;
  --font-common-tablet-title2-medium-letter-spacing: 0.25;
  --font-common-tablet-title2-medium-paragraph-spacing: 0;
  --font-common-tablet-title2-medium-text-case: none;
  --font-common-tablet-title2-medium-text-decoration: none;
  --font-common-tablet-title3-bold-font-family: Roboto;
  --font-common-tablet-title3-bold-font-weight: Bold;
  --font-common-tablet-title3-bold-line-height: 36;
  --font-common-tablet-title3-bold-font-size: 30;
  --font-common-tablet-title3-bold-letter-spacing: 0.25;
  --font-common-tablet-title3-bold-paragraph-spacing: 0;
  --font-common-tablet-title3-bold-text-case: none;
  --font-common-tablet-title3-bold-text-decoration: none;
  --font-common-tablet-title3-medium-font-family: Roboto;
  --font-common-tablet-title3-medium-font-weight: Medium;
  --font-common-tablet-title3-medium-line-height: 36;
  --font-common-tablet-title3-medium-font-size: 30;
  --font-common-tablet-title3-medium-letter-spacing: 0.25;
  --font-common-tablet-title3-medium-paragraph-spacing: 0;
  --font-common-tablet-title3-medium-text-case: none;
  --font-common-tablet-title3-medium-text-decoration: none;
  --font-common-tablet-title4-bold-font-family: Roboto;
  --font-common-tablet-title4-bold-font-weight: Bold;
  --font-common-tablet-title4-bold-line-height: 32;
  --font-common-tablet-title4-bold-font-size: 24;
  --font-common-tablet-title4-bold-letter-spacing: 0.15;
  --font-common-tablet-title4-bold-paragraph-spacing: 0;
  --font-common-tablet-title4-bold-text-case: none;
  --font-common-tablet-title4-bold-text-decoration: none;
  --font-common-tablet-title4-medium-font-family: Roboto;
  --font-common-tablet-title4-medium-font-weight: Medium;
  --font-common-tablet-title4-medium-line-height: 32;
  --font-common-tablet-title4-medium-font-size: 24;
  --font-common-tablet-title4-medium-letter-spacing: 0.15;
  --font-common-tablet-title4-medium-paragraph-spacing: 0;
  --font-common-tablet-title4-medium-text-case: none;
  --font-common-tablet-title4-medium-text-decoration: none;
  --font-common-tablet-title5-bold-font-family: Roboto;
  --font-common-tablet-title5-bold-font-weight: Bold;
  --font-common-tablet-title5-bold-line-height: 28;
  --font-common-tablet-title5-bold-font-size: 22;
  --font-common-tablet-title5-bold-letter-spacing: 0.1;
  --font-common-tablet-title5-bold-paragraph-spacing: 0;
  --font-common-tablet-title5-bold-text-case: none;
  --font-common-tablet-title5-bold-text-decoration: none;
  --font-common-tablet-title5-medium-font-family: Roboto;
  --font-common-tablet-title5-medium-font-weight: Medium;
  --font-common-tablet-title5-medium-line-height: 28;
  --font-common-tablet-title5-medium-font-size: 22;
  --font-common-tablet-title5-medium-letter-spacing: 0.1;
  --font-common-tablet-title5-medium-paragraph-spacing: 0;
  --font-common-tablet-title5-medium-text-case: none;
  --font-common-tablet-title5-medium-text-decoration: none;
  --font-common-tablet-title6-bold-font-family: Roboto;
  --font-common-tablet-title6-bold-font-weight: Bold;
  --font-common-tablet-title6-bold-line-height: 24;
  --font-common-tablet-title6-bold-font-size: 20;
  --font-common-tablet-title6-bold-letter-spacing: 0.1;
  --font-common-tablet-title6-bold-paragraph-spacing: 0;
  --font-common-tablet-title6-bold-text-case: none;
  --font-common-tablet-title6-bold-text-decoration: none;
  --font-common-tablet-title6-medium-font-family: Roboto;
  --font-common-tablet-title6-medium-font-weight: Medium;
  --font-common-tablet-title6-medium-line-height: 24;
  --font-common-tablet-title6-medium-font-size: 20;
  --font-common-tablet-title6-medium-letter-spacing: 0.1;
  --font-common-tablet-title6-medium-paragraph-spacing: 0;
  --font-common-tablet-title6-medium-text-case: none;
  --font-common-tablet-title6-medium-text-decoration: none;
  --font-common-tablet-subtitle-bold-font-family: Roboto;
  --font-common-tablet-subtitle-bold-font-weight: Bold;
  --font-common-tablet-subtitle-bold-line-height: 24;
  --font-common-tablet-subtitle-bold-font-size: 18;
  --font-common-tablet-subtitle-bold-letter-spacing: 0.15;
  --font-common-tablet-subtitle-bold-paragraph-spacing: 0;
  --font-common-tablet-subtitle-bold-text-case: none;
  --font-common-tablet-subtitle-bold-text-decoration: none;
  --font-common-tablet-subtitle-medium-font-family: Roboto;
  --font-common-tablet-subtitle-medium-font-weight: Medium;
  --font-common-tablet-subtitle-medium-line-height: 24;
  --font-common-tablet-subtitle-medium-font-size: 18;
  --font-common-tablet-subtitle-medium-letter-spacing: 0.15;
  --font-common-tablet-subtitle-medium-paragraph-spacing: 0;
  --font-common-tablet-subtitle-medium-text-case: none;
  --font-common-tablet-subtitle-medium-text-decoration: none;
  --font-common-tablet-subtitle-regular-font-family: Roboto;
  --font-common-tablet-subtitle-regular-font-weight: Regular;
  --font-common-tablet-subtitle-regular-line-height: 24;
  --font-common-tablet-subtitle-regular-font-size: 18;
  --font-common-tablet-subtitle-regular-letter-spacing: 0.15;
  --font-common-tablet-subtitle-regular-paragraph-spacing: 0;
  --font-common-tablet-subtitle-regular-text-case: none;
  --font-common-tablet-subtitle-regular-text-decoration: none;
  --font-common-tablet-body1-bold-font-family: Roboto;
  --font-common-tablet-body1-bold-font-weight: Bold;
  --font-common-tablet-body1-bold-line-height: 24;
  --font-common-tablet-body1-bold-font-size: 16;
  --font-common-tablet-body1-bold-letter-spacing: 0.25;
  --font-common-tablet-body1-bold-paragraph-spacing: 0;
  --font-common-tablet-body1-bold-text-case: none;
  --font-common-tablet-body1-bold-text-decoration: none;
  --font-common-tablet-body1-medium-font-family: Roboto;
  --font-common-tablet-body1-medium-font-weight: Medium;
  --font-common-tablet-body1-medium-line-height: 24;
  --font-common-tablet-body1-medium-font-size: 16;
  --font-common-tablet-body1-medium-letter-spacing: 0.25;
  --font-common-tablet-body1-medium-paragraph-spacing: 0;
  --font-common-tablet-body1-medium-text-case: none;
  --font-common-tablet-body1-medium-text-decoration: none;
  --font-common-tablet-body1-regular-font-family: Roboto;
  --font-common-tablet-body1-regular-font-weight: Regular;
  --font-common-tablet-body1-regular-line-height: 24;
  --font-common-tablet-body1-regular-font-size: 16;
  --font-common-tablet-body1-regular-letter-spacing: 0.25;
  --font-common-tablet-body1-regular-paragraph-spacing: 0;
  --font-common-tablet-body1-regular-text-case: none;
  --font-common-tablet-body1-regular-text-decoration: none;
  --font-common-tablet-body2-bold-font-family: Roboto;
  --font-common-tablet-body2-bold-font-weight: Bold;
  --font-common-tablet-body2-bold-line-height: 20;
  --font-common-tablet-body2-bold-font-size: 14;
  --font-common-tablet-body2-bold-letter-spacing: 0.25;
  --font-common-tablet-body2-bold-paragraph-spacing: 0;
  --font-common-tablet-body2-bold-text-case: none;
  --font-common-tablet-body2-bold-text-decoration: none;
  --font-common-tablet-body2-medium-font-family: Roboto;
  --font-common-tablet-body2-medium-font-weight: Medium;
  --font-common-tablet-body2-medium-line-height: 20;
  --font-common-tablet-body2-medium-font-size: 14;
  --font-common-tablet-body2-medium-letter-spacing: 0.25;
  --font-common-tablet-body2-medium-paragraph-spacing: 0;
  --font-common-tablet-body2-medium-text-case: none;
  --font-common-tablet-body2-medium-text-decoration: none;
  --font-common-tablet-body2-regular-font-family: Roboto;
  --font-common-tablet-body2-regular-font-weight: Regular;
  --font-common-tablet-body2-regular-line-height: 20;
  --font-common-tablet-body2-regular-font-size: 14;
  --font-common-tablet-body2-regular-letter-spacing: 0.25;
  --font-common-tablet-body2-regular-paragraph-spacing: 0;
  --font-common-tablet-body2-regular-text-case: none;
  --font-common-tablet-body2-regular-text-decoration: none;
  --font-common-tablet-caption1-medium-font-family: Roboto;
  --font-common-tablet-caption1-medium-font-weight: Medium;
  --font-common-tablet-caption1-medium-line-height: 16;
  --font-common-tablet-caption1-medium-font-size: 12;
  --font-common-tablet-caption1-medium-letter-spacing: 0.25;
  --font-common-tablet-caption1-medium-paragraph-spacing: 0;
  --font-common-tablet-caption1-medium-text-case: none;
  --font-common-tablet-caption1-medium-text-decoration: none;
  --font-common-tablet-caption1-regular-font-family: Roboto;
  --font-common-tablet-caption1-regular-font-weight: Regular;
  --font-common-tablet-caption1-regular-line-height: 16;
  --font-common-tablet-caption1-regular-font-size: 12;
  --font-common-tablet-caption1-regular-letter-spacing: 0.25;
  --font-common-tablet-caption1-regular-paragraph-spacing: 0;
  --font-common-tablet-caption1-regular-text-case: none;
  --font-common-tablet-caption1-regular-text-decoration: none;
  --font-common-tablet-caption2-medium-font-family: Roboto;
  --font-common-tablet-caption2-medium-font-weight: Medium;
  --font-common-tablet-caption2-medium-line-height: 12;
  --font-common-tablet-caption2-medium-font-size: 11;
  --font-common-tablet-caption2-medium-letter-spacing: 0.25;
  --font-common-tablet-caption2-medium-paragraph-spacing: 0;
  --font-common-tablet-caption2-medium-text-case: none;
  --font-common-tablet-caption2-medium-text-decoration: none;
  --font-common-tablet-caption2-regular-font-family: Roboto;
  --font-common-tablet-caption2-regular-font-weight: Regular;
  --font-common-tablet-caption2-regular-line-height: 12;
  --font-common-tablet-caption2-regular-font-size: 11;
  --font-common-tablet-caption2-regular-letter-spacing: 0.25;
  --font-common-tablet-caption2-regular-paragraph-spacing: 0;
  --font-common-tablet-caption2-regular-text-case: none;
  --font-common-tablet-caption2-regular-text-decoration: none;
  --font-common-tablet-overline-bold-font-family: Roboto;
  --font-common-tablet-overline-bold-font-weight: Bold;
  --font-common-tablet-overline-bold-line-height: 12;
  --font-common-tablet-overline-bold-font-size: 11;
  --font-common-tablet-overline-bold-letter-spacing: 0.5;
  --font-common-tablet-overline-bold-paragraph-spacing: 0;
  --font-common-tablet-overline-bold-text-case: uppercase;
  --font-common-tablet-overline-bold-text-decoration: none;
  --font-common-tablet-overline-medium-font-family: Roboto;
  --font-common-tablet-overline-medium-font-weight: Medium;
  --font-common-tablet-overline-medium-line-height: 12;
  --font-common-tablet-overline-medium-font-size: 11;
  --font-common-tablet-overline-medium-letter-spacing: 0.5;
  --font-common-tablet-overline-medium-paragraph-spacing: 0;
  --font-common-tablet-overline-medium-text-case: uppercase;
  --font-common-tablet-overline-medium-text-decoration: none;
  --font-common-mobile-title1-black-font-family: Roboto;
  --font-common-mobile-title1-black-font-weight: Black;
  --font-common-mobile-title1-black-line-height: 44;
  --font-common-mobile-title1-black-font-size: 36;
  --font-common-mobile-title1-black-letter-spacing: 0.25;
  --font-common-mobile-title1-black-paragraph-spacing: 0;
  --font-common-mobile-title1-black-text-case: none;
  --font-common-mobile-title1-black-text-decoration: none;
  --font-common-mobile-title1-bold-font-family: Roboto;
  --font-common-mobile-title1-bold-font-weight: Bold;
  --font-common-mobile-title1-bold-line-height: 44;
  --font-common-mobile-title1-bold-font-size: 36;
  --font-common-mobile-title1-bold-letter-spacing: 0.25;
  --font-common-mobile-title1-bold-paragraph-spacing: 0;
  --font-common-mobile-title1-bold-text-case: none;
  --font-common-mobile-title1-bold-text-decoration: none;
  --font-common-mobile-title2-bold-font-family: Roboto;
  --font-common-mobile-title2-bold-font-weight: Bold;
  --font-common-mobile-title2-bold-line-height: 40;
  --font-common-mobile-title2-bold-font-size: 32;
  --font-common-mobile-title2-bold-letter-spacing: 0.15;
  --font-common-mobile-title2-bold-paragraph-spacing: 0;
  --font-common-mobile-title2-bold-text-case: none;
  --font-common-mobile-title2-bold-text-decoration: none;
  --font-common-mobile-title2-medium-font-family: Roboto;
  --font-common-mobile-title2-medium-font-weight: Medium;
  --font-common-mobile-title2-medium-line-height: 40;
  --font-common-mobile-title2-medium-font-size: 32;
  --font-common-mobile-title2-medium-letter-spacing: 0.15;
  --font-common-mobile-title2-medium-paragraph-spacing: 0;
  --font-common-mobile-title2-medium-text-case: none;
  --font-common-mobile-title2-medium-text-decoration: none;
  --font-common-mobile-title3-bold-font-family: Roboto;
  --font-common-mobile-title3-bold-font-weight: Bold;
  --font-common-mobile-title3-bold-line-height: 36;
  --font-common-mobile-title3-bold-font-size: 28;
  --font-common-mobile-title3-bold-letter-spacing: 0.15;
  --font-common-mobile-title3-bold-paragraph-spacing: 0;
  --font-common-mobile-title3-bold-text-case: none;
  --font-common-mobile-title3-bold-text-decoration: none;
  --font-common-mobile-title3-medium-font-family: Roboto;
  --font-common-mobile-title3-medium-font-weight: Medium;
  --font-common-mobile-title3-medium-line-height: 36;
  --font-common-mobile-title3-medium-font-size: 28;
  --font-common-mobile-title3-medium-letter-spacing: 0.15;
  --font-common-mobile-title3-medium-paragraph-spacing: 0;
  --font-common-mobile-title3-medium-text-case: none;
  --font-common-mobile-title3-medium-text-decoration: none;
  --font-common-mobile-title4-bold-font-family: Roboto;
  --font-common-mobile-title4-bold-font-weight: Bold;
  --font-common-mobile-title4-bold-line-height: 32;
  --font-common-mobile-title4-bold-font-size: 24;
  --font-common-mobile-title4-bold-letter-spacing: 0.15;
  --font-common-mobile-title4-bold-paragraph-spacing: 0;
  --font-common-mobile-title4-bold-text-case: none;
  --font-common-mobile-title4-bold-text-decoration: none;
  --font-common-mobile-title4-medium-font-family: Roboto;
  --font-common-mobile-title4-medium-font-weight: Medium;
  --font-common-mobile-title4-medium-line-height: 32;
  --font-common-mobile-title4-medium-font-size: 24;
  --font-common-mobile-title4-medium-letter-spacing: 0.15;
  --font-common-mobile-title4-medium-paragraph-spacing: 0;
  --font-common-mobile-title4-medium-text-case: none;
  --font-common-mobile-title4-medium-text-decoration: none;
  --font-common-mobile-title5-bold-font-family: Roboto;
  --font-common-mobile-title5-bold-font-weight: Bold;
  --font-common-mobile-title5-bold-line-height: 28;
  --font-common-mobile-title5-bold-font-size: 22;
  --font-common-mobile-title5-bold-letter-spacing: 0.1;
  --font-common-mobile-title5-bold-paragraph-spacing: 0;
  --font-common-mobile-title5-bold-text-case: none;
  --font-common-mobile-title5-bold-text-decoration: none;
  --font-common-mobile-title5-medium-font-family: Roboto;
  --font-common-mobile-title5-medium-font-weight: Medium;
  --font-common-mobile-title5-medium-line-height: 28;
  --font-common-mobile-title5-medium-font-size: 22;
  --font-common-mobile-title5-medium-letter-spacing: 0.1;
  --font-common-mobile-title5-medium-paragraph-spacing: 0;
  --font-common-mobile-title5-medium-text-case: none;
  --font-common-mobile-title5-medium-text-decoration: none;
  --font-common-mobile-title6-bold-font-family: Roboto;
  --font-common-mobile-title6-bold-font-weight: Bold;
  --font-common-mobile-title6-bold-line-height: 24;
  --font-common-mobile-title6-bold-font-size: 20;
  --font-common-mobile-title6-bold-letter-spacing: 0.1;
  --font-common-mobile-title6-bold-paragraph-spacing: 0;
  --font-common-mobile-title6-bold-text-case: none;
  --font-common-mobile-title6-bold-text-decoration: none;
  --font-common-mobile-title6-medium-font-family: Roboto;
  --font-common-mobile-title6-medium-font-weight: Medium;
  --font-common-mobile-title6-medium-line-height: 24;
  --font-common-mobile-title6-medium-font-size: 20;
  --font-common-mobile-title6-medium-letter-spacing: 0.1;
  --font-common-mobile-title6-medium-paragraph-spacing: 0;
  --font-common-mobile-title6-medium-text-case: none;
  --font-common-mobile-title6-medium-text-decoration: none;
  --font-common-mobile-subtitle-bold-font-family: Roboto;
  --font-common-mobile-subtitle-bold-font-weight: Bold;
  --font-common-mobile-subtitle-bold-line-height: 24;
  --font-common-mobile-subtitle-bold-font-size: 18;
  --font-common-mobile-subtitle-bold-letter-spacing: 0.15;
  --font-common-mobile-subtitle-bold-paragraph-spacing: 0;
  --font-common-mobile-subtitle-bold-text-case: none;
  --font-common-mobile-subtitle-bold-text-decoration: none;
  --font-common-mobile-subtitle-medium-font-family: Roboto;
  --font-common-mobile-subtitle-medium-font-weight: Medium;
  --font-common-mobile-subtitle-medium-line-height: 24;
  --font-common-mobile-subtitle-medium-font-size: 18;
  --font-common-mobile-subtitle-medium-letter-spacing: 0.15;
  --font-common-mobile-subtitle-medium-paragraph-spacing: 0;
  --font-common-mobile-subtitle-medium-text-case: none;
  --font-common-mobile-subtitle-medium-text-decoration: none;
  --font-common-mobile-subtitle-regular-font-family: Roboto;
  --font-common-mobile-subtitle-regular-font-weight: Regular;
  --font-common-mobile-subtitle-regular-line-height: 24;
  --font-common-mobile-subtitle-regular-font-size: 18;
  --font-common-mobile-subtitle-regular-letter-spacing: 0.15;
  --font-common-mobile-subtitle-regular-paragraph-spacing: 0;
  --font-common-mobile-subtitle-regular-text-case: none;
  --font-common-mobile-subtitle-regular-text-decoration: none;
  --font-common-mobile-body1-bold-font-family: Roboto;
  --font-common-mobile-body1-bold-font-weight: Bold;
  --font-common-mobile-body1-bold-line-height: 24;
  --font-common-mobile-body1-bold-font-size: 16;
  --font-common-mobile-body1-bold-letter-spacing: 0.25;
  --font-common-mobile-body1-bold-paragraph-spacing: 0;
  --font-common-mobile-body1-bold-text-case: none;
  --font-common-mobile-body1-bold-text-decoration: none;
  --font-common-mobile-body1-medium-font-family: Roboto;
  --font-common-mobile-body1-medium-font-weight: Medium;
  --font-common-mobile-body1-medium-line-height: 24;
  --font-common-mobile-body1-medium-font-size: 16;
  --font-common-mobile-body1-medium-letter-spacing: 0.25;
  --font-common-mobile-body1-medium-paragraph-spacing: 0;
  --font-common-mobile-body1-medium-text-case: none;
  --font-common-mobile-body1-medium-text-decoration: none;
  --font-common-mobile-body1-regular-font-family: Roboto;
  --font-common-mobile-body1-regular-font-weight: Regular;
  --font-common-mobile-body1-regular-line-height: 24;
  --font-common-mobile-body1-regular-font-size: 16;
  --font-common-mobile-body1-regular-letter-spacing: 0.25;
  --font-common-mobile-body1-regular-paragraph-spacing: 0;
  --font-common-mobile-body1-regular-text-case: none;
  --font-common-mobile-body1-regular-text-decoration: none;
  --font-common-mobile-body2-bold-font-family: Roboto;
  --font-common-mobile-body2-bold-font-weight: Bold;
  --font-common-mobile-body2-bold-line-height: 20;
  --font-common-mobile-body2-bold-font-size: 14;
  --font-common-mobile-body2-bold-letter-spacing: 0.25;
  --font-common-mobile-body2-bold-paragraph-spacing: 0;
  --font-common-mobile-body2-bold-text-case: none;
  --font-common-mobile-body2-bold-text-decoration: none;
  --font-common-mobile-body2-medium-font-family: Roboto;
  --font-common-mobile-body2-medium-font-weight: Medium;
  --font-common-mobile-body2-medium-line-height: 20;
  --font-common-mobile-body2-medium-font-size: 14;
  --font-common-mobile-body2-medium-letter-spacing: 0.25;
  --font-common-mobile-body2-medium-paragraph-spacing: 0;
  --font-common-mobile-body2-medium-text-case: none;
  --font-common-mobile-body2-medium-text-decoration: none;
  --font-common-mobile-body2-regular-font-family: Roboto;
  --font-common-mobile-body2-regular-font-weight: Regular;
  --font-common-mobile-body2-regular-line-height: 20;
  --font-common-mobile-body2-regular-font-size: 14;
  --font-common-mobile-body2-regular-letter-spacing: 0.25;
  --font-common-mobile-body2-regular-paragraph-spacing: 0;
  --font-common-mobile-body2-regular-text-case: none;
  --font-common-mobile-body2-regular-text-decoration: none;
  --font-common-mobile-caption1-medium-font-family: Roboto;
  --font-common-mobile-caption1-medium-font-weight: Medium;
  --font-common-mobile-caption1-medium-line-height: 16;
  --font-common-mobile-caption1-medium-font-size: 12;
  --font-common-mobile-caption1-medium-letter-spacing: 0.25;
  --font-common-mobile-caption1-medium-paragraph-spacing: 0;
  --font-common-mobile-caption1-medium-text-case: none;
  --font-common-mobile-caption1-medium-text-decoration: none;
  --font-common-mobile-caption1-regular-font-family: Roboto;
  --font-common-mobile-caption1-regular-font-weight: Regular;
  --font-common-mobile-caption1-regular-line-height: 16;
  --font-common-mobile-caption1-regular-font-size: 12;
  --font-common-mobile-caption1-regular-letter-spacing: 0.25;
  --font-common-mobile-caption1-regular-paragraph-spacing: 0;
  --font-common-mobile-caption1-regular-text-case: none;
  --font-common-mobile-caption1-regular-text-decoration: none;
  --font-common-mobile-caption2-medium-font-family: Roboto;
  --font-common-mobile-caption2-medium-font-weight: Medium;
  --font-common-mobile-caption2-medium-line-height: 12;
  --font-common-mobile-caption2-medium-font-size: 11;
  --font-common-mobile-caption2-medium-letter-spacing: 0.25;
  --font-common-mobile-caption2-medium-paragraph-spacing: 0;
  --font-common-mobile-caption2-medium-text-case: none;
  --font-common-mobile-caption2-medium-text-decoration: none;
  --font-common-mobile-caption2-regular-font-family: Roboto;
  --font-common-mobile-caption2-regular-font-weight: Regular;
  --font-common-mobile-caption2-regular-line-height: 12;
  --font-common-mobile-caption2-regular-font-size: 11;
  --font-common-mobile-caption2-regular-letter-spacing: 0.25;
  --font-common-mobile-caption2-regular-paragraph-spacing: 0;
  --font-common-mobile-caption2-regular-text-case: none;
  --font-common-mobile-caption2-regular-text-decoration: none;
  --font-common-mobile-overline-bold-font-family: Roboto;
  --font-common-mobile-overline-bold-font-weight: Bold;
  --font-common-mobile-overline-bold-line-height: 12;
  --font-common-mobile-overline-bold-font-size: 11;
  --font-common-mobile-overline-bold-letter-spacing: 0.5;
  --font-common-mobile-overline-bold-paragraph-spacing: 0;
  --font-common-mobile-overline-bold-text-case: uppercase;
  --font-common-mobile-overline-bold-text-decoration: none;
  --font-common-mobile-overline-medium-font-family: Roboto;
  --font-common-mobile-overline-medium-font-weight: Medium;
  --font-common-mobile-overline-medium-line-height: 12;
  --font-common-mobile-overline-medium-font-size: 11;
  --font-common-mobile-overline-medium-letter-spacing: 0.5;
  --font-common-mobile-overline-medium-paragraph-spacing: 0;
  --font-common-mobile-overline-medium-text-case: uppercase;
  --font-common-mobile-overline-medium-text-decoration: none;
      }