.font_tv {
          --font-common-tv-title1-black: [object Object];
  --font-common-tv-title1-bold: [object Object];
  --font-common-tv-title2-bold: [object Object];
  --font-common-tv-title2-medium: [object Object];
  --font-common-tv-title3-bold: [object Object];
  --font-common-tv-title3-medium: [object Object];
  --font-common-tv-subtitle-bold: [object Object];
  --font-common-tv-subtitle-medium: [object Object];
  --font-common-tv-subtitle-regular: [object Object];
  --font-common-tv-body1-bold: [object Object];
  --font-common-tv-body1-medium: [object Object];
  --font-common-tv-body1-regular: [object Object];
  --font-common-tv-caption1-medium: [object Object];
  --font-common-tv-caption1-regular: [object Object];
  --font-common-tv-caption2-medium: [object Object];
  --font-common-tv-caption2-regular: [object Object];
  --font-common-tv-overline-bold: [object Object];
  --font-common-tv-overline-medium: [object Object];
      }