.font {
        --font-common-desktop-title1-black: [object Object];
  --font-common-desktop-title1-bold: [object Object];
  --font-common-desktop-title2-bold: [object Object];
  --font-common-desktop-title2-medium: [object Object];
  --font-common-desktop-title3-bold: [object Object];
  --font-common-desktop-title3-medium: [object Object];
  --font-common-desktop-title4-bold: [object Object];
  --font-common-desktop-title4-medium: [object Object];
  --font-common-desktop-title5-bold: [object Object];
  --font-common-desktop-title5-medium: [object Object];
  --font-common-desktop-title6-bold: [object Object];
  --font-common-desktop-title6-medium: [object Object];
  --font-common-desktop-subtitle-bold: [object Object];
  --font-common-desktop-subtitle-medium: [object Object];
  --font-common-desktop-subtitle-regular: [object Object];
  --font-common-desktop-body1-bold: [object Object];
  --font-common-desktop-body1-medium: [object Object];
  --font-common-desktop-body1-regular: [object Object];
  --font-common-desktop-body2-bold: [object Object];
  --font-common-desktop-body2-medium: [object Object];
  --font-common-desktop-body2-regular: [object Object];
  --font-common-desktop-caption1-medium: [object Object];
  --font-common-desktop-caption1-regular: [object Object];
  --font-common-desktop-caption2-medium: [object Object];
  --font-common-desktop-caption2-regular: [object Object];
  --font-common-desktop-overline-bold: [object Object];
  --font-common-desktop-overline-medium: [object Object];
  --font-common-tablet-title1-black: [object Object];
  --font-common-tablet-title1-bold: [object Object];
  --font-common-tablet-title2-bold: [object Object];
  --font-common-tablet-title2-medium: [object Object];
  --font-common-tablet-title3-bold: [object Object];
  --font-common-tablet-title3-medium: [object Object];
  --font-common-tablet-title4-bold: [object Object];
  --font-common-tablet-title4-medium: [object Object];
  --font-common-tablet-title5-bold: [object Object];
  --font-common-tablet-title5-medium: [object Object];
  --font-common-tablet-title6-bold: [object Object];
  --font-common-tablet-title6-medium: [object Object];
  --font-common-tablet-subtitle-bold: [object Object];
  --font-common-tablet-subtitle-medium: [object Object];
  --font-common-tablet-subtitle-regular: [object Object];
  --font-common-tablet-body1-bold: [object Object];
  --font-common-tablet-body1-medium: [object Object];
  --font-common-tablet-body1-regular: [object Object];
  --font-common-tablet-body2-bold: [object Object];
  --font-common-tablet-body2-medium: [object Object];
  --font-common-tablet-body2-regular: [object Object];
  --font-common-tablet-caption1-medium: [object Object];
  --font-common-tablet-caption1-regular: [object Object];
  --font-common-tablet-caption2-medium: [object Object];
  --font-common-tablet-caption2-regular: [object Object];
  --font-common-tablet-overline-bold: [object Object];
  --font-common-tablet-overline-medium: [object Object];
  --font-common-mobile-title1-black: [object Object];
  --font-common-mobile-title1-bold: [object Object];
  --font-common-mobile-title2-bold: [object Object];
  --font-common-mobile-title2-medium: [object Object];
  --font-common-mobile-title3-bold: [object Object];
  --font-common-mobile-title3-medium: [object Object];
  --font-common-mobile-title4-bold: [object Object];
  --font-common-mobile-title4-medium: [object Object];
  --font-common-mobile-title5-bold: [object Object];
  --font-common-mobile-title5-medium: [object Object];
  --font-common-mobile-title6-bold: [object Object];
  --font-common-mobile-title6-medium: [object Object];
  --font-common-mobile-subtitle-bold: [object Object];
  --font-common-mobile-subtitle-medium: [object Object];
  --font-common-mobile-subtitle-regular: [object Object];
  --font-common-mobile-body1-bold: [object Object];
  --font-common-mobile-body1-medium: [object Object];
  --font-common-mobile-body1-regular: [object Object];
  --font-common-mobile-body2-bold: [object Object];
  --font-common-mobile-body2-medium: [object Object];
  --font-common-mobile-body2-regular: [object Object];
  --font-common-mobile-caption1-medium: [object Object];
  --font-common-mobile-caption1-regular: [object Object];
  --font-common-mobile-caption2-medium: [object Object];
  --font-common-mobile-caption2-regular: [object Object];
  --font-common-mobile-overline-bold: [object Object];
  --font-common-mobile-overline-medium: [object Object];
    }