.global {
          --color-yellow-light-100: #ffedb8;
  --color-yellow-light-400: #ffca29;
  --color-yellow-light-500: #ffc000;
  --color-yellow-light-600: #fbb605;
  --color-yellow-dark-400: #ffca29;
  --color-yellow-dark-500: #ffc000;
  --color-yellow-dark-600: #fbb605;
  --color-yellow-dark-900: #664d00;
  --color-purple-light-100: #e1c7f2;
  --color-purple-light-400: #a30fff;
  --color-purple-light-500: #7800c2;
  --color-purple-light-600: #58008f;
  --color-purple-dark-400: #c7acec;
  --color-purple-dark-500: #ac84e3;
  --color-purple-dark-600: #8e59d9;
  --color-purple-dark-900: #4a3962;
  --color-blue-light-100: #c7ddff;
  --color-blue-light-400: #2a7eff;
  --color-blue-light-500: #0166ff;
  --color-blue-light-600: #015ce6;
  --color-blue-dark-400: #7ecbff;
  --color-blue-dark-500: #66c1ff;
  --color-blue-dark-600: #5caee5;
  --color-blue-dark-900: #2c536e;
  --color-green-light-100: #bfedd2;
  --color-green-light-400: #29c369;
  --color-green-light-500: #00b84c;
  --color-green-light-600: #00a644;
  --color-green-dark-400: #7dd88f;
  --color-green-dark-500: #64d17a;
  --color-green-dark-600: #5abc6e;
  --color-green-dark-900: #2b5a34;
  --color-orange-light-100: #fedcc9;
  --color-orange-light-400: #fb823d;
  --color-orange-light-500: #fa6a18;
  --color-orange-light-600: #e15f16;
  --color-orange-dark-400: #ffb083;
  --color-orange-dark-500: #ffa16b;
  --color-orange-dark-600: #e69160;
  --color-orange-dark-900: #6e3f2e;
  --color-red-light-100: #ffc9cf;
  --color-red-light-400: #e35462;
  --color-red-light-500: #de3344;
  --color-red-light-600: #c82e3d;
  --color-red-dark-400: #f8828e;
  --color-red-dark-500: #f76a78;
  --color-red-dark-600: #e3626e;
  --color-red-dark-900: #6a2e34;
  --color-gray-light-100: #f5f7f7;
  --color-gray-light-150: #eff1f2;
  --color-gray-light-200: #eaedee;
  --color-gray-light-250: #e4e7e8;
  --color-gray-light-300: #dee1e3;
  --color-gray-light-400: #d0d4d6;
  --color-gray-light-500: #c2c6c9;
  --color-gray-light-600: #b4b9bc;
  --color-gray-light-700: #a6abae;
  --color-gray-light-800: #989ea1;
  --color-gray-light-900: #8a9094;
  --color-gray-dark-100: #0f1214;
  --color-gray-dark-150: #161a1d;
  --color-gray-dark-200: #1c2023;
  --color-gray-dark-250: #212529;
  --color-gray-dark-300: #262b2f;
  --color-gray-dark-400: #30363a;
  --color-gray-dark-500: #3a4246;
  --color-gray-dark-600: #444d52;
  --color-gray-dark-700: #4f585e;
  --color-gray-dark-800: #596469;
  --color-gray-dark-900: #646f75;
  --color-white: #ebebeb;
  --color-black: #1a1a1a;
  --color-whitest: #ffffff;
  --color-blackest: #000000;
  --opacity-50: 0.02;
  --opacity-100: 0.04;
  --opacity-150: 0.1;
  --opacity-200: 0.15;
  --opacity-250: 0.25;
  --opacity-300: 0.3;
  --opacity-400: 0.4;
  --opacity-450: 0.45;
  --opacity-500: 0.5;
  --opacity-600: 0.6;
  --opacity-650: 0.65;
  --opacity-700: 0.7;
  --opacity-800: 0.8;
  --opacity-900: 0.9;
  --unit-pxs: px;
  --unit-rems: rem;
  --unit-pts: pt;
  --unit-dps: dp;
  --unit-sps: sp;
  --spacing-25: 4px;
  --spacing-50: 8px;
  --spacing-75: 12px;
  --spacing-100: 16px;
  --spacing-125: 20px;
  --spacing-150: 24px;
  --spacing-200: 32px;
  --spacing-250: 40px;
  --spacing-300: 48px;
  --spacing-400: 64px;
  --spacing-450: 72px;
  --spacing-500: 80px;
  --spacing-600: 96px;
  --spacing-900: 128px;
  --sizing-10: 1px;
  --sizing-15: 2px;
  --sizing-25: 4px;
  --sizing-50: 8px;
  --sizing-75: 12px;
  --sizing-100: 16px;
  --sizing-125: 20px;
  --sizing-150: 24px;
  --sizing-175: 28px;
  --sizing-200: 32px;
  --sizing-225: 36px;
  --sizing-250: 40px;
  --sizing-275: 44px;
  --sizing-300: 48px;
  --sizing-325: 52px;
  --sizing-400: 64px;
  --sizing-450: 72px;
  --sizing-600: 96px;
  --sizing-900: 128px;
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-width-sm: 1px;
  --border-width-md: 2px;
  --border-width-lg: 4px;
  --font-font-family: Roboto;
  --font-font-weight-regular: Regular;
  --font-font-weight-medium: Medium;
  --font-font-weight-bold: Bold;
  --font-font-weight-black: Black;
  --font-font-size-25: 11;
  --font-font-size-50: 12;
  --font-font-size-75: 14;
  --font-font-size-100: 16;
  --font-font-size-125: 18;
  --font-font-size-150: 20;
  --font-font-size-175: 22;
  --font-font-size-200: 24;
  --font-font-size-250: 28;
  --font-font-size-275: 30;
  --font-font-size-300: 32;
  --font-font-size-350: 36;
  --font-font-size-400: 40;
  --font-font-size-425: 42;
  --font-font-size-450: 44;
  --font-font-size-500: 48;
  --font-font-size-600: 56;
  --font-font-size-650: 60;
  --font-font-size-850: 76;
  --font-line-height-50: 12;
  --font-line-height-100: 16;
  --font-line-height-150: 20;
  --font-line-height-200: 24;
  --font-line-height-250: 28;
  --font-line-height-300: 32;
  --font-line-height-350: 36;
  --font-line-height-400: 40;
  --font-line-height-450: 44;
  --font-line-height-500: 48;
  --font-line-height-550: 52;
  --font-line-height-600: 60;
  --font-line-height-700: 68;
  --font-line-height-750: 72;
  --font-line-height-900: 92;
  --font-text-case-none: none;
  --font-text-case-uppercase: uppercase;
  --font-text-case-lowercase: lowercase;
  --font-letter-spacing-negative100: -0.5;
  --font-letter-spacing-negative50: -0.25;
  --font-letter-spacing-none: 0;
  --font-letter-spacing-positive15: 0.1;
  --font-letter-spacing-positive25: 0.15;
  --font-letter-spacing-positive50: 0.25;
  --font-letter-spacing-positive100: 0.5;
  --font-text-decoration-none: none;
  --font-paragraph-spacing-default: 0;
  --motion-easing-ease-in: cubic-bezier(0.55,0.09,0.68,0.53);
  --motion-easing-ease-out: cubic-bezier(0.25,0.46,0.45,0.94);
  --motion-easing-ease-in-out: cubic-bezier(0.46,0.03,0.52,0.96);
  --motion-duration-instant: 70ms;
  --motion-duration-fast: 150ms;
  --motion-duration-moderate1: 250ms;
  --motion-duration-moderate2: 350ms;
  --motion-duration-slow1: 500ms;
  --motion-duration-slow2: 700ms;
  --shadow-drop-shadow-level10-1x: [object Object];
  --shadow-drop-shadow-level10-2x: [object Object];
  --shadow-drop-shadow-level10-4x: [object Object];
  --shadow-drop-shadow-level10-8x: [object Object];
  --shadow-drop-shadow-level10-12x: [object Object];
  --shadow-drop-shadow-level10-16x: [object Object];
  --shadow-drop-shadow-level30-1x: [object Object];
  --shadow-drop-shadow-level30-2x: [object Object];
  --shadow-drop-shadow-level30-4x: [object Object];
  --shadow-drop-shadow-level30-8x: [object Object];
  --shadow-drop-shadow-level30-12x: [object Object];
  --shadow-drop-shadow-level30-16x: [object Object];
  --shadow-drop-shadow-level50-1x: [object Object];
  --shadow-drop-shadow-level50-2x: [object Object];
  --shadow-drop-shadow-level50-4x: [object Object];
  --shadow-drop-shadow-level50-8x: [object Object];
  --shadow-drop-shadow-level50-12x: [object Object];
  --shadow-drop-shadow-level50-16x: [object Object];
  --shadow-drop-shadow-level70-1x: [object Object];
  --shadow-drop-shadow-level70-2x: [object Object];
  --shadow-drop-shadow-level70-4x: [object Object];
  --shadow-drop-shadow-level70-8x: [object Object];
  --shadow-drop-shadow-level70-12x: [object Object];
  --shadow-drop-shadow-level70-16x: [object Object];
      }