.global {
          --color-global-all-yellow-light-100: #ffedb8;
  --color-global-all-yellow-light-400: #ffca29;
  --color-global-all-yellow-light-500: #ffc000;
  --color-global-all-yellow-light-600: #fbb605;
  --color-global-all-yellow-dark-400: #ffca29;
  --color-global-all-yellow-dark-500: #ffc000;
  --color-global-all-yellow-dark-600: #fbb605;
  --color-global-all-yellow-dark-900: #664d00;
  --color-global-all-purple-light-100: #e1c7f2;
  --color-global-all-purple-light-400: #a30fff;
  --color-global-all-purple-light-500: #7800c2;
  --color-global-all-purple-light-600: #58008f;
  --color-global-all-purple-dark-400: #c7acec;
  --color-global-all-purple-dark-500: #ac84e3;
  --color-global-all-purple-dark-600: #8e59d9;
  --color-global-all-purple-dark-900: #4a3962;
  --color-global-all-blue-light-100: #c7ddff;
  --color-global-all-blue-light-400: #2a7eff;
  --color-global-all-blue-light-500: #0166ff;
  --color-global-all-blue-light-600: #015ce6;
  --color-global-all-blue-dark-400: #7ecbff;
  --color-global-all-blue-dark-500: #66c1ff;
  --color-global-all-blue-dark-600: #5caee5;
  --color-global-all-blue-dark-900: #2c536e;
  --color-global-all-green-light-100: #bfedd2;
  --color-global-all-green-light-400: #29c369;
  --color-global-all-green-light-500: #00b84c;
  --color-global-all-green-light-600: #00a644;
  --color-global-all-green-dark-400: #7dd88f;
  --color-global-all-green-dark-500: #64d17a;
  --color-global-all-green-dark-600: #5abc6e;
  --color-global-all-green-dark-900: #2b5a34;
  --color-global-all-orange-light-100: #fedcc9;
  --color-global-all-orange-light-400: #fb823d;
  --color-global-all-orange-light-500: #fa6a18;
  --color-global-all-orange-light-600: #e15f16;
  --color-global-all-orange-dark-400: #ffb083;
  --color-global-all-orange-dark-500: #ffa16b;
  --color-global-all-orange-dark-600: #e69160;
  --color-global-all-orange-dark-900: #6e3f2e;
  --color-global-all-red-light-100: #ffc9cf;
  --color-global-all-red-light-400: #e35462;
  --color-global-all-red-light-500: #de3344;
  --color-global-all-red-light-600: #c82e3d;
  --color-global-all-red-dark-400: #f8828e;
  --color-global-all-red-dark-500: #f76a78;
  --color-global-all-red-dark-600: #e3626e;
  --color-global-all-red-dark-900: #6a2e34;
  --color-global-all-gray-light-100: #f5f7f7;
  --color-global-all-gray-light-150: #eff1f2;
  --color-global-all-gray-light-200: #eaedee;
  --color-global-all-gray-light-250: #e4e7e8;
  --color-global-all-gray-light-300: #dee1e3;
  --color-global-all-gray-light-400: #d0d4d6;
  --color-global-all-gray-light-500: #c2c6c9;
  --color-global-all-gray-light-600: #b4b9bc;
  --color-global-all-gray-light-700: #a6abae;
  --color-global-all-gray-light-800: #989ea1;
  --color-global-all-gray-light-900: #8a9094;
  --color-global-all-gray-dark-100: #0f1214;
  --color-global-all-gray-dark-150: #161a1d;
  --color-global-all-gray-dark-200: #1c2023;
  --color-global-all-gray-dark-250: #212529;
  --color-global-all-gray-dark-300: #262b2f;
  --color-global-all-gray-dark-400: #30363a;
  --color-global-all-gray-dark-500: #3a4246;
  --color-global-all-gray-dark-600: #444d52;
  --color-global-all-gray-dark-700: #4f585e;
  --color-global-all-gray-dark-800: #596469;
  --color-global-all-gray-dark-900: #646f75;
  --color-global-all-white: #ebebeb;
  --color-global-all-black: #1a1a1a;
  --color-global-all-whitest: #ffffff;
  --color-global-all-blackest: #000000;
  --opacity-global-all-50: 0.02;
  --opacity-global-all-100: 0.04;
  --opacity-global-all-150: 0.1;
  --opacity-global-all-200: 0.15;
  --opacity-global-all-250: 0.25;
  --opacity-global-all-300: 0.3;
  --opacity-global-all-400: 0.4;
  --opacity-global-all-450: 0.45;
  --opacity-global-all-500: 0.5;
  --opacity-global-all-600: 0.6;
  --opacity-global-all-650: 0.65;
  --opacity-global-all-700: 0.7;
  --opacity-global-all-800: 0.8;
  --opacity-global-all-900: 0.9;
  --unit-global-all-pxs: px;
  --unit-global-all-rems: rem;
  --unit-global-all-pts: pt;
  --unit-global-all-dps: dp;
  --unit-global-all-sps: sp;
  --spacing-global-all-25: 4px;
  --spacing-global-all-50: 8px;
  --spacing-global-all-75: 12px;
  --spacing-global-all-100: 16px;
  --spacing-global-all-125: 20px;
  --spacing-global-all-150: 24px;
  --spacing-global-all-200: 32px;
  --spacing-global-all-250: 40px;
  --spacing-global-all-300: 48px;
  --spacing-global-all-400: 64px;
  --spacing-global-all-450: 72px;
  --spacing-global-all-500: 80px;
  --spacing-global-all-600: 96px;
  --spacing-global-all-900: 128px;
  --sizing-global-all-10: 1px;
  --sizing-global-all-15: 2px;
  --sizing-global-all-25: 4px;
  --sizing-global-all-50: 8px;
  --sizing-global-all-75: 12px;
  --sizing-global-all-100: 16px;
  --sizing-global-all-125: 20px;
  --sizing-global-all-150: 24px;
  --sizing-global-all-175: 28px;
  --sizing-global-all-200: 32px;
  --sizing-global-all-225: 36px;
  --sizing-global-all-250: 40px;
  --sizing-global-all-275: 44px;
  --sizing-global-all-300: 48px;
  --sizing-global-all-325: 52px;
  --sizing-global-all-400: 64px;
  --sizing-global-all-450: 72px;
  --sizing-global-all-600: 96px;
  --sizing-global-all-900: 128px;
  --border-radius-global-all-xs: 4px;
  --border-radius-global-all-sm: 8px;
  --border-radius-global-all-md: 12px;
  --border-radius-global-all-lg: 16px;
  --border-width-global-all-sm: 1px;
  --border-width-global-all-md: 2px;
  --border-width-global-all-lg: 4px;
  --font-global-all-font-family-text: Roboto;
  --font-global-all-font-family-title: Roboto;
  --font-global-all-font-weight-regular: Regular;
  --font-global-all-font-weight-medium: Medium;
  --font-global-all-font-weight-bold: Bold;
  --font-global-all-font-weight-black: Black;
  --font-global-all-font-size-25: 0.6875rem;
  --font-global-all-font-size-50: 0.75rem;
  --font-global-all-font-size-75: 0.875rem;
  --font-global-all-font-size-100: 1rem;
  --font-global-all-font-size-125: 1.125rem;
  --font-global-all-font-size-150: 1.25rem;
  --font-global-all-font-size-175: 1.375rem;
  --font-global-all-font-size-200: 1.5rem;
  --font-global-all-font-size-250: 1.75rem;
  --font-global-all-font-size-275: 1.875rem;
  --font-global-all-font-size-300: 2rem;
  --font-global-all-font-size-350: 2.25rem;
  --font-global-all-font-size-400: 2.5rem;
  --font-global-all-font-size-425: 2.625rem;
  --font-global-all-font-size-450: 2.75rem;
  --font-global-all-font-size-500: 3rem;
  --font-global-all-font-size-600: 3.5rem;
  --font-global-all-font-size-650: 3.75rem;
  --font-global-all-font-size-850: 4.75rem;
  --font-global-all-line-height-50: 0.75rem;
  --font-global-all-line-height-100: 1rem;
  --font-global-all-line-height-150: 1.25rem;
  --font-global-all-line-height-200: 1.5rem;
  --font-global-all-line-height-250: 1.75rem;
  --font-global-all-line-height-300: 2rem;
  --font-global-all-line-height-350: 2.25rem;
  --font-global-all-line-height-400: 2.5rem;
  --font-global-all-line-height-450: 2.75rem;
  --font-global-all-line-height-500: 3rem;
  --font-global-all-line-height-550: 3.25rem;
  --font-global-all-line-height-600: 3.75rem;
  --font-global-all-line-height-700: 4.25rem;
  --font-global-all-line-height-750: 4.5rem;
  --font-global-all-line-height-900: 5.75rem;
  --font-global-all-text-case-none: none;
  --font-global-all-text-case-uppercase: uppercase;
  --font-global-all-text-case-lowercase: lowercase;
  --font-global-all-letter-spacing-negative100: -0.03125rem;
  --font-global-all-letter-spacing-negative50: -0.015625rem;
  --font-global-all-letter-spacing-none: 0rem;
  --font-global-all-letter-spacing-positive15: 0.00625rem;
  --font-global-all-letter-spacing-positive25: 0.009375rem;
  --font-global-all-letter-spacing-positive50: 0.015625rem;
  --font-global-all-letter-spacing-positive100: 0.03125rem;
  --font-global-all-text-decoration-none: none;
  --font-global-all-paragraph-spacing-default: 0;
  --motion-global-all-easing-ease-in: NaNrem;
  --motion-global-all-easing-ease-out: NaNrem;
  --motion-global-all-easing-ease-in-out: NaNrem;
  --motion-global-all-duration-instant: 4.375rem;
  --motion-global-all-duration-fast: 9.375rem;
  --motion-global-all-duration-moderate1: 15.625rem;
  --motion-global-all-duration-moderate2: 21.875rem;
  --motion-global-all-duration-slow1: 31.25rem;
  --motion-global-all-duration-slow2: 43.75rem;
  --shadow-global-all-drop-shadow-level10-1x: [object Object];
  --shadow-global-all-drop-shadow-level10-2x: [object Object];
  --shadow-global-all-drop-shadow-level10-4x: [object Object];
  --shadow-global-all-drop-shadow-level10-8x: [object Object];
  --shadow-global-all-drop-shadow-level10-12x: [object Object];
  --shadow-global-all-drop-shadow-level10-16x: [object Object];
  --shadow-global-all-drop-shadow-level30-1x: [object Object];
  --shadow-global-all-drop-shadow-level30-2x: [object Object];
  --shadow-global-all-drop-shadow-level30-4x: [object Object];
  --shadow-global-all-drop-shadow-level30-8x: [object Object];
  --shadow-global-all-drop-shadow-level30-12x: [object Object];
  --shadow-global-all-drop-shadow-level30-16x: [object Object];
  --shadow-global-all-drop-shadow-level50-1x: [object Object];
  --shadow-global-all-drop-shadow-level50-2x: [object Object];
  --shadow-global-all-drop-shadow-level50-4x: [object Object];
  --shadow-global-all-drop-shadow-level50-8x: [object Object];
  --shadow-global-all-drop-shadow-level50-12x: [object Object];
  --shadow-global-all-drop-shadow-level50-16x: [object Object];
  --shadow-global-all-drop-shadow-level70-1x: [object Object];
  --shadow-global-all-drop-shadow-level70-2x: [object Object];
  --shadow-global-all-drop-shadow-level70-4x: [object Object];
  --shadow-global-all-drop-shadow-level70-8x: [object Object];
  --shadow-global-all-drop-shadow-level70-12x: [object Object];
  --shadow-global-all-drop-shadow-level70-16x: [object Object];
      }