.visual_common {
          --color-common-all-text-on-light-primary: #1a1a1a;
  --color-common-all-text-on-light-secondary: rgba(26, 26, 26, 0.65);
  --color-common-all-text-on-light-tertiary: rgba(26, 26, 26, 0.45);
  --color-common-all-text-on-dark-primary: #ebebeb;
  --color-common-all-text-on-dark-secondary: rgba(235, 235, 235, 0.65);
  --color-common-all-text-on-dark-tertiary: rgba(235, 235, 235, 0.45);
  --color-common-all-fill-overlay-context: rgba(0, 0, 0, 0.4);
  --color-common-all-fill-overlay-page: rgba(0, 0, 0, 0.6);
  --color-common-all-fill-overlay-card: rgba(0, 0, 0, 0.8);
  --color-common-all-fill-overlay-brand-light: rgba(255, 192, 0, 0.07);
  --color-common-all-fill-overlay-brand-medium: rgba(255, 192, 0, 0.15);
  --color-common-all-fill-overlay-brand-strong: rgba(255, 192, 0, 0.45);
  --color-common-all-fill-overlay-accent-light: rgba(120, 0, 194, 0.07);
  --color-common-all-fill-overlay-accent-medium: rgba(120, 0, 194, 0.15);
  --color-common-all-fill-overlay-accent-strong: rgba(120, 0, 194, 0.45);
  --color-common-all-fill-surface-light-elevation-level1: #f5f7f7;
  --color-common-all-fill-surface-light-elevation-level2: #f5f7f7;
  --color-common-all-fill-surface-light-elevation-level3: #f5f7f7;
  --color-common-all-fill-surface-light-elevation-level4: #f5f7f7;
  --color-common-all-fill-surface-light-elevation-level5: #f5f7f7;
  --color-common-all-fill-surface-light-context: #eff1f2;
  --color-common-all-fill-surface-dark-elevation-level1: #0f1214;
  --color-common-all-fill-surface-dark-elevation-level2: #161a1d;
  --color-common-all-fill-surface-dark-elevation-level3: #1c2023;
  --color-common-all-fill-surface-dark-elevation-level4: #212529;
  --color-common-all-fill-surface-dark-elevation-level5: #262b2f;
  --color-common-all-fill-surface-dark-context: #292f33;
  --color-common-all-fill-brand-light: #ffc000;
  --color-common-all-fill-brand-dark: #ffc000;
  --color-common-all-fill-accent-light: #7800c2;
  --color-common-all-fill-accent-dark: #ac84e3;
  --color-common-all-fill-success-light: #00b84c;
  --color-common-all-fill-success-dark: #64d17a;
  --color-common-all-fill-warning-light: #fa6a18;
  --color-common-all-fill-warning-dark: #ffa16b;
  --color-common-all-fill-attention-light: #de3344;
  --color-common-all-fill-attention-dark: #f76a78;
  --color-common-all-fill-navigation-light: #0166ff;
  --color-common-all-fill-navigation-dark: #66c1ff;
  --color-common-all-border-brand-light: #fbb605;
  --color-common-all-border-brand-dark: #ffca29;
  --color-common-all-border-accent-light: #58008f;
  --color-common-all-border-accent-dark: #c7acec;
  --color-common-all-border-success-light: #00a644;
  --color-common-all-border-success-dark: #7dd88f;
  --color-common-all-border-warning-light: #e15f16;
  --color-common-all-border-warning-dark: #ffb083;
  --color-common-all-border-attention-light: #c82e3d;
  --color-common-all-border-attention-dark: #f8828e;
  --color-common-all-border-navigation-light: #015ce6;
  --color-common-all-border-navigation-dark: #7ecbff;
      }