.visual_theme_light {
          --color-theme-all-fill-surface-elevation-level1: #f5f7f7;
  --color-theme-all-fill-surface-elevation-level2: #f5f7f7;
  --color-theme-all-fill-surface-elevation-level3: #f5f7f7;
  --color-theme-all-fill-surface-elevation-level4: #f5f7f7;
  --color-theme-all-fill-surface-elevation-level5: #f5f7f7;
  --color-theme-all-fill-surface-context: #eff1f2;
  --color-theme-all-fill-brand-default: #ffc000;
  --color-theme-all-fill-brand-hover: #ffca29;
  --color-theme-all-fill-brand-active: #fbb605;
  --color-theme-all-fill-brand-focus: #fbb605;
  --color-theme-all-fill-brand-disabled: #ffedb8;
  --color-theme-all-fill-accent-default: #7800c2;
  --color-theme-all-fill-accent-hover: #a30fff;
  --color-theme-all-fill-accent-active: #58008f;
  --color-theme-all-fill-accent-focus: #58008f;
  --color-theme-all-fill-accent-disabled: #e1c7f2;
  --color-theme-all-fill-success-default: #00b84c;
  --color-theme-all-fill-success-hover: #29c369;
  --color-theme-all-fill-success-active: #00a644;
  --color-theme-all-fill-success-focus: #00a644;
  --color-theme-all-fill-success-disabled: #bfedd2;
  --color-theme-all-fill-warning-default: #fa6a18;
  --color-theme-all-fill-warning-hover: #fb823d;
  --color-theme-all-fill-warning-active: #e15f16;
  --color-theme-all-fill-warning-focus: #e15f16;
  --color-theme-all-fill-warning-disabled: #fedcc9;
  --color-theme-all-fill-attention-default: #de3344;
  --color-theme-all-fill-attention-hover: #e35462;
  --color-theme-all-fill-attention-active: #c82e3d;
  --color-theme-all-fill-attention-focus: #c82e3d;
  --color-theme-all-fill-attention-disabled: #ffc9cf;
  --color-theme-all-fill-navigation-default: #0166ff;
  --color-theme-all-fill-navigation-hover: #2a7eff;
  --color-theme-all-fill-navigation-active: #015ce6;
  --color-theme-all-fill-navigation-focus: #015ce6;
  --color-theme-all-fill-navigation-disabled: #c7ddff;
  --color-theme-all-fill-interactive-default: #dee1e3;
  --color-theme-all-fill-interactive-hover: #d9dddf;
  --color-theme-all-fill-interactive-active: #d0d4d6;
  --color-theme-all-fill-interactive-focus: #d0d4d6;
  --color-theme-all-fill-interactive-disabled: #eaedee;
  --color-theme-all-text-on-surface-primary: #1a1a1a;
  --color-theme-all-text-on-surface-secondary: rgba(26, 26, 26, 0.65);
  --color-theme-all-text-on-surface-tertiary: rgba(26, 26, 26, 0.45);
  --color-theme-all-text-on-brand-primary: #1a1a1a;
  --color-theme-all-text-on-brand-secondary: rgba(26, 26, 26, 0.65);
  --color-theme-all-text-on-brand-tertiary: rgba(26, 26, 26, 0.45);
  --color-theme-all-text-on-accent-primary: #ebebeb;
  --color-theme-all-text-on-accent-secondary: rgba(235, 235, 235, 0.65);
  --color-theme-all-text-on-accent-tertiary: rgba(235, 235, 235, 0.45);
  --color-theme-all-text-on-success-primary: #ebebeb;
  --color-theme-all-text-on-success-secondary: rgba(235, 235, 235, 0.65);
  --color-theme-all-text-on-success-tertiary: rgba(235, 235, 235, 0.45);
  --color-theme-all-text-on-warning-primary: #ebebeb;
  --color-theme-all-text-on-warning-secondary: rgba(235, 235, 235, 0.65);
  --color-theme-all-text-on-warning-tertiary: rgba(235, 235, 235, 0.45);
  --color-theme-all-text-on-attention-primary: #ebebeb;
  --color-theme-all-text-on-attention-secondary: rgba(235, 235, 235, 0.65);
  --color-theme-all-text-on-attention-tertiary: rgba(235, 235, 235, 0.45);
  --color-theme-all-text-on-additional-primary: #ebebeb;
  --color-theme-all-text-on-additional-secondary: rgba(235, 235, 235, 0.65);
  --color-theme-all-text-on-additional-tertiary: rgba(235, 235, 235, 0.45);
  --color-theme-all-text-on-interactive-primary: #1a1a1a;
  --color-theme-all-text-on-interactive-secondary: rgba(26, 26, 26, 0.65);
  --color-theme-all-text-on-interactive-tertiary: rgba(26, 26, 26, 0.45);
  --color-theme-all-text-accent: #58008f;
  --color-theme-all-text-success: #00a644;
  --color-theme-all-text-warning: #e15f16;
  --color-theme-all-text-attention: #c82e3d;
  --color-theme-all-text-navigation: #015ce6;
  --color-theme-all-border-brand: #fbb605;
  --color-theme-all-border-accent: #58008f;
  --color-theme-all-border-success: #00a644;
  --color-theme-all-border-warning: #e15f16;
  --color-theme-all-border-attention: #c82e3d;
  --color-theme-all-border-navigation: #015ce6;
  --color-theme-all-border-interactive: #c2c6c9;
      }