.visual_theme_dark {
        --color-theme-all-fill-surface-elevation-level1: #0f1214;
  --color-theme-all-fill-surface-elevation-level2: #161a1d;
  --color-theme-all-fill-surface-elevation-level3: #1c2023;
  --color-theme-all-fill-surface-elevation-level4: #212529;
  --color-theme-all-fill-surface-elevation-level5: #262b2f;
  --color-theme-all-fill-surface-context: #292f33;
  --color-theme-all-fill-brand-default: #ffc000;
  --color-theme-all-fill-brand-hover: #ffca29;
  --color-theme-all-fill-brand-active: #fbb605;
  --color-theme-all-fill-brand-focus: #fbb605;
  --color-theme-all-fill-brand-disabled: #664d00;
  --color-theme-all-fill-accent-default: #ac84e3;
  --color-theme-all-fill-accent-hover: #c7acec;
  --color-theme-all-fill-accent-active: #8e59d9;
  --color-theme-all-fill-accent-focus: #8e59d9;
  --color-theme-all-fill-accent-disabled: #4a3962;
  --color-theme-all-fill-success-default: #64d17a;
  --color-theme-all-fill-success-hover: #7dd88f;
  --color-theme-all-fill-success-active: #5abc6e;
  --color-theme-all-fill-success-focus: #5abc6e;
  --color-theme-all-fill-success-disabled: #2b5a34;
  --color-theme-all-fill-warning-default: #ffa16b;
  --color-theme-all-fill-warning-hover: #ffb083;
  --color-theme-all-fill-warning-active: #e69160;
  --color-theme-all-fill-warning-focus: #e69160;
  --color-theme-all-fill-warning-disabled: #6e3f2e;
  --color-theme-all-fill-attention-default: #f76a78;
  --color-theme-all-fill-attention-hover: #f8828e;
  --color-theme-all-fill-attention-active: #e3626e;
  --color-theme-all-fill-attention-focus: #e3626e;
  --color-theme-all-fill-attention-disabled: #6a2e34;
  --color-theme-all-fill-navigation-default: #66c1ff;
  --color-theme-all-fill-navigation-hover: #7ecbff;
  --color-theme-all-fill-navigation-active: #5caee5;
  --color-theme-all-fill-navigation-focus: #5caee5;
  --color-theme-all-fill-navigation-disabled: #2c536e;
  --color-theme-all-fill-interactive-default: #444d52;
  --color-theme-all-fill-interactive-hover: #4f585e;
  --color-theme-all-fill-interactive-active: #3a4246;
  --color-theme-all-fill-interactive-focus: #596469;
  --color-theme-all-fill-interactive-disabled: #30363a;
  --color-theme-all-text-on-surface-primary: #ebebeb;
  --color-theme-all-text-on-surface-secondary: rgba(235, 235, 235, 0.65);
  --color-theme-all-text-on-surface-tertiary: rgba(235, 235, 235, 0.45);
  --color-theme-all-text-on-brand-primary: #1a1a1a;
  --color-theme-all-text-on-brand-secondary: rgba(26, 26, 26, 0.65);
  --color-theme-all-text-on-brand-tertiary: rgba(26, 26, 26, 0.45);
  --color-theme-all-text-on-accent-primary: #1a1a1a;
  --color-theme-all-text-on-accent-secondary: rgba(26, 26, 26, 0.65);
  --color-theme-all-text-on-accent-tertiary: rgba(26, 26, 26, 0.45);
  --color-theme-all-text-on-success-primary: #1a1a1a;
  --color-theme-all-text-on-success-secondary: rgba(26, 26, 26, 0.65);
  --color-theme-all-text-on-success-tertiary: rgba(26, 26, 26, 0.45);
  --color-theme-all-text-on-warning-primary: #1a1a1a;
  --color-theme-all-text-on-warning-secondary: rgba(26, 26, 26, 0.65);
  --color-theme-all-text-on-warning-tertiary: rgba(26, 26, 26, 0.45);
  --color-theme-all-text-on-attention-primary: #1a1a1a;
  --color-theme-all-text-on-attention-secondary: rgba(26, 26, 26, 0.65);
  --color-theme-all-text-on-attention-tertiary: rgba(26, 26, 26, 0.45);
  --color-theme-all-text-on-additional-primary: #1a1a1a;
  --color-theme-all-text-on-additional-secondary: rgba(26, 26, 26, 0.65);
  --color-theme-all-text-on-additional-tertiary: rgba(26, 26, 26, 0.45);
  --color-theme-all-text-on-interactive-primary: #ebebeb;
  --color-theme-all-text-on-interactive-secondary: rgba(235, 235, 235, 0.65);
  --color-theme-all-text-on-interactive-tertiary: rgba(235, 235, 235, 0.45);
  --color-theme-all-text-accent: #c7acec;
  --color-theme-all-text-success: #7dd88f;
  --color-theme-all-text-warning: #ffb083;
  --color-theme-all-text-attention: #f8828e;
  --color-theme-all-text-navigation: #7ecbff;
  --color-theme-all-border-brand: #ffca29;
  --color-theme-all-border-accent: #c7acec;
  --color-theme-all-border-success: #7dd88f;
  --color-theme-all-border-warning: #ffb083;
  --color-theme-all-border-attention: #f8828e;
  --color-theme-all-border-navigation: #7ecbff;
  --color-theme-all-border-interactive: #646f75;
    }